#overlay {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 1s 0.4s;
}

#progress {
    height: 1px;
    background: #fff;
    position: absolute;
    width: 0;
    top: 50%;
    transition: 1s;
}

#progstat {
    font-size: 0.7em;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    width: 100%;
    text-align: center;
    color: #fff;
}